<footer class="footer">
  <small>
    ぷれぜんてっどばいjec
  </small>
  <nav>
    <ul>
      <li><%= link_to "あばうとぺーじ",   about_path %></li>
      <li><%= link_to "といあわせぺーじ", contact_path %></li>
    </ul>
  </nav>
</footer>
