<header class="navbar navbar-fixed-top navbar-default">
  <div class="container">
    <%= link_to "まいあぷりけーしょん", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "ほーむぺーじ",   root_path %></li>
        <li><%= link_to "へるぷぺーじ",   help_path %></li>
        <li><%= link_to "ろぐいんぺーじ",  '#' %></li>
      </ul>
    </nav>
  </div>
</header>
